<!--app-login *ngIf="!auth.isLogged"></app-login-->
<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="true">
        <mat-nav-list>
            <mat-list-item>
                <span *ngIf="isExpanded" class="subtitle" style="width: 210px; font-size: 32px;"><b>{{client?.name | titlecase}}</b></span>
                <mat-icon color="primary" (click)="isExpanded = !isExpanded" mat-list-icon class="chevron-button sidenav-button" [ngClass]="{'rotated': isExpanded}">menu</mat-icon>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let nav of navigations" [routerLink]="nav.route">
                <mat-icon color="primary" mat-list-icon>{{nav.icon}}</mat-icon>
                <span *ngIf="isExpanded" class="subtitle" style="width: 210px;">{{nav.name}}</span>
            </mat-list-item>
            <label class="end" *ngIf="isExpanded"><i>Developed by <b>Dev-Codes S.A.S</b> © {{year}}</i><br>v1.0.3</label>
        </mat-nav-list>
    </mat-sidenav>
    <!-- Body -->
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <img src="../assets/moviint-logo-vector.svg" height="46" width="70">
            <div class="row toEndNav" style="line-height: 85%">
                <div class="col-sm-6" style="font-size: 13px; margin-top: 7px;">
                    <b>Peggie Sue</b>
                    <br> p.sue@mail.com
                </div>
                <div class="col-sm-6">
                    <button mat-button [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger"><img [src]="clientImageUrl"></button>
                </div>
            </div>
        </mat-toolbar>
        <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 230px; margin-right: 8px;">
                <mat-card-title>Peggie Sue</mat-card-title>
                <mat-card-subtitle>{{client?.name | titlecase}}</mat-card-subtitle>
                <mat-card-content class="example-button-row">
                    <button mat-raised-button [routerLink]="['/config']">Editar</button>
                    <button mat-raised-button color="primary" action="/oa/logout" method="POST" style="margin-left: 10px;">Cerrar Sesión</button>
                </mat-card-content>
            </mat-card>
        </mde-popover>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>