.streaming {
    overflow: hidden;
    height: 100vh;
    max-height: 100%;
    width: 100%;
    position: relative;
}

.map {
    height: 369px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.center {
    height: 50%;
    text-align: center;
}