<h1 class="title">Streaming de Cámaras</h1>
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div [class]="streaming_col_css">
            <div class="streaming">
                <iframe [src]="urlStreaming | safe:'resourceUrl'" *ngIf="streamStatus else loadingStream"></iframe>
                <button [hidden]="!streamStatus" mat-button (click)="goFullScreen()"><mat-icon>{{streaming_icon}}</mat-icon></button>
            </div>

            <ng-template #loadingStream>
                <mat-spinner color="primary" style="margin: auto; margin-bottom: 10px;"></mat-spinner>
            </ng-template>

            <ng-template #failedStream>
                <h3 class="warn-color center">El Streaming ha fallado en hacer conexión...</h3>
            </ng-template>
        </div>
        <div class="col-sm-4">
            <div id="minimap" class="map"></div>
        </div>
    </div>

    <table mat-table [dataSource]="GPSData | filter:id" style="margin-top: 16px; padding: 16px;">
        <ng-container matColumnDef="imei">
            <th mat-header-cell *matHeaderCellDef> Imei </th>
            <td mat-cell *matCellDef="let element"> {{element.imei}} </td>
        </ng-container>

        <ng-container matColumnDef="vehiculo">
            <th mat-header-cell *matHeaderCellDef> Vehículo </th>
            <td mat-cell *matCellDef="let element"> {{element.vehicle | translate}} </td>
        </ng-container>

        <ng-container matColumnDef="camara">
            <th mat-header-cell *matHeaderCellDef> Cámara </th>
            <td mat-cell *matCellDef="let element"> {{element.cameraStatus | translate}} </td>
        </ng-container>

        <ng-container matColumnDef="imeiCamara">
            <th mat-header-cell *matHeaderCellDef> Imei Cámara </th>
            <td mat-cell *matCellDef="let element"> {{element.imeiCamera}} </td>
        </ng-container>

        <ng-container matColumnDef="placa">
            <th mat-header-cell *matHeaderCellDef> Placa </th>
            <td mat-cell *matCellDef="let element"> {{element.licensePlate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>