<h1 class="title">Streaming de Cámaras</h1>
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm">
            <div class="streaming"></div>
        </div>
        <div class="col-sm-3">
            <div class="cameras">
                <img style="float: left;" src="https://i.insider.com/5b0d4c731ae6622f008b4f81?width=700" alt="">
                <div style="float: left; margin: 16px 10px">
                    <h5><b>Título</b></h5>
                    <p>Subtítulo</p>
                </div>
            </div>
            <div class="cameras">
                <img style="float: left;" src="https://i.insider.com/5b0d4c731ae6622f008b4f81?width=700" alt="">
                <div style="float: left; margin: 16px 10px">
                    <h5><b>Título</b></h5>
                    <p>Subtítulo</p>
                </div>
            </div>
            <div class="cameras">
                <img style="float: left;" src="https://i.insider.com/5b0d4c731ae6622f008b4f81?width=700" alt="">
                <div style="float: left; margin: 16px 10px">
                    <h5><b>Título</b></h5>
                    <p>Subtítulo</p>
                </div>
            </div>
            <div class="cameras">
                <img style="float: left;" src="https://i.insider.com/5b0d4c731ae6622f008b4f81?width=700" alt="">
                <div style="float: left; margin: 16px 10px">
                    <h5><b>Título</b></h5>
                    <p>Subtítulo</p>
                </div>
            </div>
            <div class="cameras">
                <img style="float: left;" src="https://i.insider.com/5b0d4c731ae6622f008b4f81?width=700" alt="">
                <div style="float: left; margin: 16px 10px">
                    <h5><b>Título</b></h5>
                    <p>Subtítulo</p>
                </div>
            </div>
            <div class="cameras">
                <img style="float: left;" src="https://i.insider.com/5b0d4c731ae6622f008b4f81?width=700" alt="">
                <div style="float: left; margin: 16px 10px">
                    <h5><b>Título</b></h5>
                    <p>Subtítulo</p>
                </div>
            </div>
            <div class="cameras">
                <img style="float: left;" src="https://i.insider.com/5b0d4c731ae6622f008b4f81?width=700" alt="">
                <div style="float: left; margin: 16px 10px">
                    <h5><b>Título</b></h5>
                    <p>Subtítulo</p>
                </div>
            </div>
        </div>
    </div>
</div>
