@import '~@angular/material/theming';
// always include only once per project
@include mat-core();
// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-mat-primary:( 50: #e0f2fa, 100: #b3def2, 200: #80c8e9, 300: #4db1e0, 400: #26a1d9, 500: #0090d2, 600: #0088cd, 700: #007dc7, 800: #0073c1, 900: #0061b6, contrast:( 800: #fff, 600:#fff, 900: #fff, ));
$my-mat-accent:( 50: #fafbfc, 100: #f3f6f7, 200: #ebf0f2, 300: #e3eaed, 400: #dde6e9, 500: #d7e1e5, 600: #d3dde2, 700: #cdd9de, 800: #c7d5da, 900: #becdd3, contrast:( 800: #fff, 600:#fff, 900: #fff, ));
$my-mat-warn:( 50: #ffe6e0, 100: #ffc0b3, 200: #ff9680, 300: #ff6b4d, 400: #ff4c26, 500: #ff2c00, 600: #ff2700, 700: #ff2100, 800: #ff1b00, 900: #ff1000, contrast:( 800: #fff, 600:#fff, 900: #fff, ));
$gray-color:#696662;
$my-theme-primary: mat-palette($my-mat-primary);
$my-theme-accent: mat-palette($my-mat-accent, 700);
$my-theme-warn: mat-palette($my-mat-warn, 500);
// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-light-theme( $my-theme-primary, $my-theme-accent, $my-theme-warn);
@include angular-material-theme($my-theme);
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-icon-button.mat-primary {
    color: #fff;
}

.mat-chip.mat-standard-chip {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.87);
}

.mat-raised-button.mat-button-disabled:not([class*="mat-elevation-z"]) {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.snack-bar-info {
    color: map-get($map: $mat-gray, $key: 300);
    ;
}

.snack-bar-warn {
    color: map-get($map: $my-mat-warn, $key: 300);
}

.snack-bar-succes {
    color: map-get($map: $mat-green, $key: 500);
}

.snack-bar-error {
    color: map-get($mat-deep-orange, $key: 500);
    ;
}
