/* You can add global styles to this file, and also import other style files */

.background-login-image {
    background-image: url("assets/14112502468_83bbd30092_b.jpg");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
    font-size: 16px;
    margin: 10px;
    color: #007dc7;
}

.subtitle {
    font-size: 16px;
    margin-left: 8px;
    color: #007dc7;
}

.snackbar {
    background-color: transparent;
    box-shadow: none;
}

.snackbar-red {
    background-color: #ff2100;
    color: white;
    margin-top: 16px;
    border-radius: 4px;
    .mat-icon {
        font-size: 64px;
    }
    .mat-simple-snackbar-action {
        color: white;
    }
}

table {
    width: 100%;
}