/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD
@import '~@angular/material/theming';
@import './assets/my-theme.scss';
.primary-color {
    color: mat-color($my-theme-primary) !important;
}

.warn-color {
    color: mat-color($my-theme-warn) !important;
}

.accent-color {
    color: mat-color($my-theme-accent) !important;
}

=======
>>>>>>> origin/master
.background-login-image {
    background-image: url("assets/14112502468_83bbd30092_b.jpg");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
    font-size: 16px;
<<<<<<< HEAD
    margin: 10px;
    color: mat-color($my-theme-primary);
}

.subtitle {
    font-size: 16px;
    margin-left: 8px;
    color: mat-color($my-theme-primary);
=======
    margin: 10px 10px 10px 10px;
    color: #007dc7;
>>>>>>> origin/master
}

.snackbar {
    background-color: transparent;
    box-shadow: none;
}

.snackbar-red {
<<<<<<< HEAD
    background-color: mat-color($my-theme-warn);
=======
    background-color: #ff2100;
>>>>>>> origin/master
    color: white;
    margin-top: 16px;
    border-radius: 4px;
    .mat-icon {
        font-size: 64px;
    }
    .mat-simple-snackbar-action {
        color: white;
    }
<<<<<<< HEAD
}

table {
    width: 100%;
}
=======
}
>>>>>>> origin/master
